# MongoDB Configuration
MONGO_URI=mongodb+srv://pushkarkumarsaini2006:BxbcSNcYJxieAUQB@passop.isxpzze.mongodb.net/?appName=PassOP
DB_NAME=PassOP

# Example:
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/
# DB_NAME=passop
